# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# ===== Virtual Environments =====
venv/
.env/

# ===== TLS / Certificates =====
#*.key
#*.pem
#*.crt
#*.csr
#*.pfx
#*.der

# ===== Mosquitto =====
#mosquitto.db
#mosquitto.log

# ===== OS Files =====
.DS_Store
Thumbs.db


#certs/
